@model IEnumerable<Book>

<h2 style="text-align: center;" class="mb-4">Kitap Listesi</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Kitap Adı</th>
      <th scope="col">Yazar</th>
      <th scope="col">Yayınlanma Yılı</th>
      <th scope="col">Kategoriler</th>
      <th scope="col">İşlemler</th>
    </tr>
  </thead>
  <tbody>
    @foreach(var item in Model){
        <tr>
            <td>@Html.DisplayFor(modelItem => item.BookID)</td>
            <td>@Html.DisplayFor(modelItem => item.Title)</td>
            <td>@Html.DisplayFor(modelItem => item.Author)</td>
            <td>@Html.DisplayFor(modelItem => item.PublicationYear)</td>
            <td>@Html.DisplayFor(modelItem => item.Category)</td>
            <td>
                <div class="d-flex justify-content-around">
                     <a href="" class="btn btn-warning btn-sm ">Ayrıntılar</a>
                     <a href="" class="btn btn-danger btn-sm">Düzenle</a>
                </div>
               
            </td>
        </tr>
    }
  </tbody>
  
</table>